<div class="max-w-4xl mx-auto p-5 mt-8">
  <div class="mb-8 text-center">
    <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">
      Wycena Płyty Fundamentowej
      <span
        class="text-orange mx-1 font-extrabold text-4xl relative inline-block stroke-current">
        Solid Base
        <svg
          class="absolute -bottom-0.5 w-full max-h-1.5"
          viewBox="0 0 55 5"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none">
          <path
            d="M0.652466 4.00002C15.8925 2.66668 48.0351 0.400018 54.6853 2.00002"
            stroke-width="2"></path>
        </svg>
      </span>
    </h2>
    <p class="text-gray-600">
      Skorzystaj z formularza i wyceń swój projekt.
    </p>
    <p class="text-gray-600 mt-2">
      Prosimy o wypełnienie formularza poniżej, pozwoli to nam przygotować dokładną i wiarygodną ofertę. 
      Należy wypełnić wszystkie pola formularza oznaczone gwiazdką*.
      Jedynym polem opcjonalnym formularza jest komentarz do projektu.
    </p>
  </div>

 <!-- <form [formGroup]="form" (submit)="sendEmail($event)" class="space-y-6"> -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Name and Email -->
      <div>
        <label for="user_name" class="block text-sm font-medium text-gray-700">Imię i Nazwisko *</label>
        <input
          formControlName="user_name"
          type="text"
          id="user_name"
          name="user_name"
          required
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="Jan Kowalski"/>
          <div *ngIf="form.get('user_name')?.errors?.['required'] && form.get('user_name')?.touched" class="text-red-500">
            Wymagane imię i nazwisko.
          </div>
          <div *ngIf="form.get('user_name')?.errors?.['minlength'] && form.get('user_name')?.touched" class="text-red-500">
            Wpisz min. 3 znaki.
          </div>
          <div *ngIf="form.get('user_name')?.errors?.['pattern'] && form.get('user_name')?.touched" class="text-red-500">
            Podaj imię i nazwisko.
          </div>
          
      </div>
      <div>
        <label for="user_email" class="block text-sm font-medium text-gray-700">Adres e-mail *</label>
        <input
          formControlName="user_email"
          type="email"
          id="user_email"
          name="user_email"
          required
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="jan@example.com"/>
          <div *ngIf="form.get('user_email')?.errors?.['required'] && form.get('user_email')?.touched" class="text-red-500">
            Wymagany adres email.
          </div>
          <div *ngIf="form.get('user_email')?.errors?.['user_email'] && form.get('user_email')?.touched" class="text-red-500">
            Wprowadź poprawny email.
          </div>
      </div>

      <!-- Phone and Construction Address -->
      <div>
        <label for="phone" class="block text-sm font-medium text-gray-700"
          >Kontakt telefoniczny *</label>
        <input
          formControlName="phone"
          type="tel"
          id="phone"
          name="phone"
          required
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="123 456 789"/>
          <div *ngIf="form.get('phone')?.errors?.['required'] && form.get('phone')?.touched" class="text-red-500">
            Wymagany numer telefonu.
          </div>
          <div *ngIf="form.get('phone')?.errors?.['minlength'] && form.get('phone')?.touched" class="text-red-500">
            Wymagane min. 6 cyfr.
          </div>
      </div>
      <div>
        <label for="address" class="block text-sm font-medium text-gray-700">Miejsce Budowy *</label>
        <input
          formControlName="address"
          type="text"
          id="address"
          name="address"
          required
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="ul. Budowlana 1, 00-000 Miastowo"/>
      </div>
      <div *ngIf="form.get('address')?.errors?.['required'] && form.get('address')?.touched" class="text-red-500">
        Wymagany adres.
      </div>
      <div *ngIf="form.get('address')?.errors?.['minlength'] && form.get('address')?.touched" class="text-red-500">
        Wpisz min. 10 znaków.
      </div>

      <!-- Project Name and Foundation Area -->
      <div class="md:col-span-2">
        <label
          for="project"
          class="block text-sm font-medium text-gray-700">Nazwa Inwestycji *</label>
        <input
          formControlName="project"
          type="text"
          id="project"
          name="project"
          required
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="Np. Projekt Domu"/>
          <div *ngIf="form.get('project')?.errors?.['required'] && form.get('project')?.touched" class="text-red-500">
            Wymagana nazwa projektu.
          </div>
          <div *ngIf="form.get('project')?.errors?.['minlength'] && form.get('project')?.touched" class="text-red-500">
            Wpisz min. 3 znaki.
          </div>
      </div>
      <div>
        <label
          for="area"
          class="block text-sm font-medium text-gray-700"
          >Powierzchnia płyty fundamentowej (m2) *</label>
        <input
        formControlName="area"
          type="number"
          id="area"
          name="area"
          required
          min="0"
          step="0.01"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
          placeholder="np. 120.5"/>
      </div>
      <div *ngIf="form.get('area')?.errors?.['required'] && form.get('area')?.touched" class="text-red-500">
        Wymagana powierzchnia.
      </div>
    
      <!-- Min Validation Message -->
      <div *ngIf="form.get('area')?.errors?.['min'] && form.get('area')?.touched" class="text-red-500">
        Wpisz numer.
      </div>
    
      <!-- Pattern Validation Message -->
      <div *ngIf="(form.get('area')?.errors?.['min'] || form.get('area')?.errors?.['pattern']) && form.get('area')?.touched" class="text-red-500">
        Podaj właściwy numer.
      </div>

      <!-- Voivodeship -->
      <div>
        <label for="voivodeship" class="block text-sm font-medium text-gray-700"
          >Województwo *</label>
        <select
          formControlName="voivodeship"
          id="voivodeship"
          name="voivodeship"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm">
          <option value="">Wybierz...</option>
          <option value="Zachodniopomorskie">Zachodniopomorskie</option>
          <option value="Pomorskie">Pomorskie</option>
          <option value="Warmińsko-Mazurskie">Warmińsko-Mazurskie</option>
          <option value="Lubuskie">Lubuskie</option>
          <option value="Wielkopolskie">Wielkopolskie</option>
          <option value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
          <option value="Mazowieckie">Mazowieckie</option>
          <option value="Podlaskie">Podlaskie</option>
          <option value="Dolnośląskie">Dolnośląskie</option>
          <option value="Łódzkie">Łódzkie</option>
          <option value="Lubelskie">Lubelskie</option>
          <option value="Opolskie">Opolskie</option>
          <option value="Śląskie">Śląskie</option>
          <option value="Świętokrzyskie">Świętokrzyskie</option>
          <option value="Małopolskie">Małopolskie</option>
          <option value="Podkarpackie">Podkarpackie</option>
        </select>
        <div *ngIf="form.get('voivodeship')?.errors?.['required'] && form.get('voivodeship')?.touched" class="text-red-500">
            Wymagany wybór.
          </div>
      </div>
    </div>

    <div>
      <label for="storey" class="block text-sm font-medium text-gray-700">Ilość pięter *</label>
      <select
        formControlName="storey"
        id="storey"
        name="storey"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm">
        <option value="">Wybierz...</option>
        <option value="Parter">Parter</option>
        <option value="Parter i poddasze">Parter i poddasze</option>
        <option value="Dwa piętra">Dwa piętra</option>
        <option value="Więcej niż dwa piętra">Więcej niż dwa piętra</option>
        <option value="Inna">Inna</option>
      </select>
      <div *ngIf="form.get('storey')?.errors?.['required'] && form.get('storey')?.touched" class="text-red-500">
        Wymagany wybór.
       </div>
    </div>
<!-- 
    <div>
      <label for="roof" class="block text-sm font-medium text-gray-700">Dach *</label>
      <select
       formControlName="roof"
        id="roof"
        name="roof"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm">
        <option value="">Wybierz...</option>
        <option value="Śkośny">Skośny</option>
        <option value="Płaski">Płaski</option>
        <option value="Płaski">Inny</option>
      </select>
      <div *ngIf="form.get('roof')?.errors?.['required'] && form.get('roof')?.touched" class="text-red-500">
        Wymagany wybór.
       </div>
    </div> -->

    <div>
      <label for="geology" class="block text-sm font-medium text-gray-700">Badania gruntu *</label>
      <select
      formControlName="geology"
        id="geology"
        name="geology"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm">
        <option value="">Wybierz...</option>
        <option value="Tak mam">Tak mam</option>
        <option value="Nie mam">Nie mam</option>
      </select>
      <div *ngIf="form.get('geology')?.errors?.['required'] && form.get('geology')?.touched" class="text-red-500">
        Wymagany wybór.
       </div>
    </div>

    <div>
      <label
        for="start"
        class="block text-sm font-medium text-gray-700">Rozpoczęcie budowy *</label>
      <input
        formControlName="start"
        type="date"
        id="start"
        name="start"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange focus:ring-orange sm:text-sm"/>
    </div>
    <div *ngIf="form.get('start')?.errors?.['required'] && form.get('start')?.touched" class="text-red-500">
        Wymagany wybór.
    </div>
    <div *ngIf="form.get('start')?.errors?.['pastDate'] && form.get('start')?.touched" class="text-red-500">
        Data nie może być przeszła.
    </div>
    
    <div>
      <label
        for="comments"
        class="block text-sm font-medium text-gray-700">Komentarz do projektu</label>
      <textarea
        formControlName="comments"
        id="comments"
        name="comments"
        rows="4"
        class="mt-1 block w-full rounded-md border-grey shadow-sm focus:border-orange focus:ring-orange sm:text-sm"
        placeholder="(Opcjonalnie) Wpisz tutaj swoje uwagi lub komentarze..."></textarea>
        <div *ngIf="form.get('comments')?.errors?.['maxlength'] && form.get('comments')?.touched" class="text-red-500">
            Komentarz może mieć max. 1500 znaków.
          </div>
          
    </div>
    <div class="mt-4">
      <label class="inline-flex items-center">
        <input
          formControlName="consent"
          type="checkbox"
          id="consent"
          name="consent"
          class="rounded border-grey text-orange shadow-sm focus:border-orange focus:ring focus:ring-orange focus:ring-opacity-50"
          required/>
        <span class="ml-2 text-sm text-gray-600">* Niniejszym oświadczam, że jako osoba zainteresowana budową domu – czy to w fazie planowania, obecnie realizująca projekt budowlany, bądź też poszukująca informacji na temat przewidywanych kosztów – zgadzam się na przetwarzanie moich danych osobowych dla potrzeb działań marketingowych. Wyrażam również zgodę na odbieranie komunikatów handlowych od firmy Solid Base, zgodnie z przepisami ustawy z 29 sierpnia 1997 roku dotyczącej ochrony danych osobowych (Dziennik Ustaw Nr 133, poz. 883).</span>
      </label>
      <div *ngIf="form.get('consent')?.errors?.['required'] && form.get('consent')?.touched" class="text-red-500">
        Wymagana zgoda.
      </div>
    </div>

    <div>
      <button
        type="submit"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange hover:bg-grey focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange">
        Wyślij
      </button>
    </div>
    <div *ngIf="isFormSubmittedSuccessfully" class="text-center mt-4 text-green-600 font-bold">
      Formularz wysłany, dziękujemy!
    </div>
    
  <!-- </form> -->
</div>
