

<!-- YOUR VISION OUR PASSION COMPONENT -->
<div class="vision-container container mx-auto justify-center items-center p-[5%] ">
   <p class="poppins-medium md:text-8xl text-3xl text-[#FA5B07] p-5">TWOJA WIZJA</p>
    <p class="poppins-medium md:text-8xl text-3xl text-[#FA5B07] p-5 flex items-center">NASZA
        <img class="px-5 h-[100px]" src="/assets/our_passion.png">REALIZACJA
    </p>
</div>

<!-- APP MOSAIC -->
<app-mosaic></app-mosaic>

<!-- 2 COLS -->
<div class="grid grid-cols-2 gap-4 py-2">
  <!-- COL L -->
  <div class="relative">
    <p class="ml-[16%] md:text-2xl poppins-medium text-[#E47D49]">Nasza firma:</p>
    <br>
    <br>
    <p class="md:text-6xl font-bold poppins-medium text-center text-[#FA5B07]">SOLIDBASE</p>
    <br>
    <br>
    <p class="py-7 ml-[14%] px-5 md:text-2xl font-light poppins-medium text-left text-[#14171A]">
      Główne miejsce docelowe dla najwyższej jakości płyt w branży budowlanej.
    </p>
    <p class="py-7 ml-[14%] px-5 md:text-2xl font-light poppins-medium text-left text-[#14171A]">
      Jako wiodący producent, jesteśmy dumni z dostarczania trwałych, niezawodnych i precyzyjnie zaprojektowanych
      płyt betonowych dostosowanych do wymagań Twoich projektów. 
    </p>
    <p class="py-7 ml-[14%] px-5 md:text-2xl font-light poppins-medium text-left text-[#14171A]">
      Dzięki zaangażowaniu w innowacje i doskonałość, nasza firma jest kamieniem węgielnym dla
      fundamentów o niezrównanej wytrzymałości i odporności.
    </p>
    <p class="indent-5 py-7 ml-[14%] px-5 md:text-2xl font-normal poppins-medium text-center text-[#14171A]">
      Poznaj naszą ofertę płyt i doświadcz solidności i precyzji, które definiują nas! 
    </p>
    <div class="text-center py-10">
      <button class="py-3 px-8 text-white md:text-2xl rounded-full bg-[#FA5B07] md:border-0 poppins-medium" [routerLink]="['/contact']">Kontakt</button>
    </div>
  </div>
  <!-- COL R-->
  <div class="relative">
    <div class="absolute inset-5 bg-cover bg-center" style="background-image: url('/assets/pixelcut-export 1.png');"></div>
  </div>
</div>

<!-- <section class="bg-black w-full pt-4 px-4 pb-4 lg:pt-[55px]" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"> -->
  <!-- <div class="container mx-auto">
    <div class="pb-10">
      <h1 class="text-orange text-xl">O NASZEJ FIRMIE:</h1>
      <p class="text-white pb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.</p>
    </div> -->

    <!--CARDS SECTION  -->
     <div class="flex flex-wrap mx-1" >

        <!-- FIRST CARD -->
        <!-- <div class="w-full px-3 md:w-1/2 xl:w-1/3" data-aos="fade-left" data-aos-offset="200"data-aos-delay="50">
           <div class="mb-10 overflow-hidden duration-300 bg-brown rounded-lg shadow-2xl shadow-gray-900">
              <img
                 src="https://images.pexels.com/photos/2768398/pexels-photo-2768398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="image"
                 class="w-full"
                 />
              <div class="p-8 text-center">
                 <h3>
                    <a class="text-dark mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                        FIRST CARD TITLE
                    </a>
                 </h3>
                 <p class="mb-7">
                    Lorem ipsum dolor sit amet pretium consectetur adipiscing
                    elit. Lorem consectetur adipiscing elit.
                 </p>
                 <button class="bg-black hover:text-orange  text-white font-bold py-2 px-4 rounded-full transition duration-200">View Details</button>
              </div>
           </div>
        </div> -->

        <!-- SECOND CARD -->
        <!-- <div class="w-full px-3 md:w-1/2 xl:w-1/3" data-aos="fade-left" data-aos-offset="200"data-aos-delay="50">
          <div class="mb-10 overflow-hidden duration-300 bg-brown rounded-lg shadow-2xl shadow-gray-900">
             <img
                src="https://images.pexels.com/photos/2768398/pexels-photo-2768398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="image"
                class="w-full"
                />
             <div class="p-8 text-center">
                <h3>
                   <a class="text-dark mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                    SECOND CARD TITLE
                   </a>
                </h3>
                <p class="mb-7">
                   Lorem ipsum dolor sit amet pretium consectetur adipiscing
                   elit. Lorem consectetur adipiscing elit.
                </p>
                <button class="bg-black hover:text-orange  text-white font-bold py-2 px-4 rounded-full transition duration-200">View Details</button>
             </div>
          </div>
       </div> -->

        <!-- THIRD CARD -->
        <!-- <div class="w-full px-3 md:w-1/2 xl:w-1/3" data-aos="fade-left" data-aos-offset="200"data-aos-delay="50">
          <div class="mb-10 overflow-hidden duration-300 bg-brown rounded-lg shadow-2xl shadow-gray-900">
             <img
                src="https://images.pexels.com/photos/2768398/pexels-photo-2768398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="image"
                class="w-full"
                />
             <div class="p-8 text-center">
                <h3>
                   <a class="text-dark mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                    THIRD CARD TITLE
                   </a>
                </h3>
                <p class="mb-7">
                   Lorem ipsum dolor sit amet pretium consectetur adipiscing
                   elit. Lorem consectetur adipiscing elit.
                </p>
                <button class="bg-black hover:text-orange  text-white font-bold py-2 px-4 rounded-full transition duration-200">View Details</button>
             </div>
          </div>
       </div>  -->

    </div>
  <!-- </div> -->
<!-- </section> -->

<!-- PROMO TEXT SECTION -->
<!-- <section class="flex justify-center bg-whte pt-10 px-4 pb-10 lg:pt-[70px] lg:pb-20 drop-shadow-md" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
    <div class="container mx-auto">
      <div>
        <h1 class="text-orange">TO CO NAS WYRÓŻNIA ...</h1>
        <p class="text-lg lg:text-2xl"> W 
          <span class="text-orange mx-1 font-extrabold text-4xl relative inline-block stroke-current">
            Solid Base
            <svg class="absolute -bottom-0.5 w-full max-h-1.5" viewBox="0 0 55 5" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="none">
              <path d="M0.652466 4.00002C15.8925 2.66668 48.0351 0.400018 54.6853 2.00002" stroke-width="2"></path>
            </svg>
          </span>
          wiemy jak doprowadzić projekt do końca, tak aby każdy klient był zadowolony.
          Dlatego właśnie zachęcamy do sprawdzenia naszej niesamowitej oferty.
          Każdy będzie zadowolony!
        </p>
      </div>
    </div>
</section> -->







<!-- CONTACT SECTION -->
<!-- <section class="bg-orange pt-3 px-4 pb-5 lg:pt-[30px] lg:pb-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"> -->
   <!-- <div class="container mx-auto"> -->
     <!-- 2 COL FELX -->
      <!-- <div class="flex flex-col lg:flex-row items-center justify-between"> -->
       <!-- FIRST COL -->
        <!-- <div class="w-full lg:w-2/3 lg:pr-8">
         <h1 class="text-white text-2xl lg:text-3xl font-bold mb-2">Masz Pytania?</h1>
         <p class="text-white mb-6 lg:text-lg">Jeśli nie wiesz czy nasza oferta jest dla Ciebie, czy zwyczajnie masz jakiekolwiek pytania dotyczące współpracy z nami, zadzwoń lub napisz do nas i postaramy się odpowiedzieć na każde zadane pytanie.</p>
        </div> -->
      <!-- SECOND COL -->
        <!-- <div>
          <a href="/contact" class="inline-block px-6 py-6 bg-white text-xl text-orange font-semibold rounded-md hover:text-white hover:bg-black transition duration-200 shadow-lg">
              Skontaktuj się z nami teraz
          </a>
        </div> -->
      
     <!-- </div> -->
   <!-- </div> -->
<!-- </section> -->
 
 <!-- SECTION STEP BY STEP -->
 <!-- <section id="works" class="relative bg-brown py-10 sm:py-16 lg:py-24" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
   <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
       <div class="max-w-2xl mx-auto text-center">
           <h2 class="text-4xl text-white font-extrabold mx-auto md:text-6xl lg:text-5xl">Jak to działa?</h2>
           <p class="max-w-2xl mx-auto mt-1 text-base text-orange leading-relaxed md:text-2xl">
               Nasza etyka pracy
           </p>
       </div>
       <div class="relative mt-5 lg:mt-20">
           <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28"><img alt="" loading="lazy" width="1000" height="500" decoding="async" data-nimg="1" class="w-full" style="color:transparent" src="https://cdn.rareblocks.xyz/collection/celebration/images/steps/2/curved-dotted-line.svg">
           </div>
           <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
               <div>
                   <div
                       class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow ">
                       <span class="text-xl font-semibold text-black">1</span>
                   </div>
                   <h3 class="mt-6 text-xl  text-white font-semibold leading-tight md:mt-10">Kontaktujesz się z nami</h3>
                   <p class="mt-1 text-base text-orange md:text-lg">
                       Skorzystaj z formularza
                   </p>
               </div>
               <div>
                   <div
                       class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow md:animate-pulse">
                       <span class="text-xl font-semibold text-black">2</span>
                   </div>
                   <h3 class="mt-6 text-xl text-white font-semibold leading-tight md:mt-10">Wysyłasz zapytanie</h3>
                   <p class="mt-1 text-base text-orange md:text-lg">
                       Przygotowujemy wycenę
                   </p>
               </div>
               <div>
                   <div
                       class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow ">
                       <span class="text-xl font-semibold text-black">3</span>
                   </div>
                   <h3 class="mt-6 text-xl text-white font-semibold leading-tight md:mt-10">Przystępujemy do działania</h3>
                   <p class="mt-1 text-base text-orange md:text-lg">
                       Realizujemy Twój projekt
                   </p>
               </div>
           </div>
       </div>
   </div>
   <a href="/pricing" class="block mx-auto w-[fit-content] py-3 px-6 bg-white text-orange font-semibold rounded-md shadow-md mt-8 hover:bg-orange hover:text-white transition duration-300">Wyceń swoje zlecenie</a>
   <div class="absolute inset-0 m-auto max-w-xs h-[357px] blur-[118px] sm:max-w-md md:max-w-lg"
       style="background:radial-gradient(1.89deg, rgba(34, 78, 95, 0.4) -1000%, rgba(191, 227, 205, 0.26) 1500.74%, rgba(34, 140, 165, 0.41) 56.49%, rgba(28, 47, 99, 0.11) 1150.91%)">
   </div>
</section> -->


 <!-- SECTION STATISTICS -->
<!-- <section data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
<div class="bg-black py-24 sm:py-32">
   <div class="mx-auto max-w-7xl px-6 lg:px-8">
     <div class="mx-auto max-w-2xl lg:max-w-none">
       <div class="text-center space-y-4">
         <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Nasze statystyki</h2>
         <p class="text-lg leading-8 text-grey">Nasze wyniki mówią same za siebie, przekonaj się.
         </p>
       </div>
       <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
         <div class="flex flex-col bg-white/5 p-8">
           <dt class="text-sm font-semibold leading-6 text-grey">Wylanego Betonu</dt>
           <dd class="order-first text-3xl font-semibold tracking-tight text-white">2000m3</dd>
         </div>
         <div class="flex flex-col bg-white/5 p-8">
           <dt class="text-sm font-semibold leading-6 text-grey">Zrealizowanych projektów</dt>
           <dd class="order-first text-3xl font-semibold tracking-tight text-white">30</dd>
         </div>
         <div class="flex flex-col bg-white/5 p-8">
           <dt class="text-sm font-semibold leading-6 text-grey">Lokalizacji</dt>
           <dd class="order-first text-3xl font-semibold tracking-tight text-white">23</dd>
         </div>
         <div class="flex flex-col bg-white/5 p-8">
           <dt class="text-sm font-semibold leading-6 text-grey">Powierzchni</dt>
           <dd class="order-first text-3xl font-semibold tracking-tight text-white">6000m2</dd>
         </div>
       </dl>
     </div>
   </div>
 </div>
</section> -->

 <!-- SECTION PARTNERS -->
   <!-- <section class="mb-8 text-center" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
      <div class="container">
     <div class="py-12 md:px-12">
       <div class="container mx-auto xl:px-32">
         <div class="grid items-center lg:grid-cols-2">
           <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
             <div
               class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
               <h2 class="mb-16 text-3xl text-orange">
                 Nasi partnerzy 
               </h2>
               <div class="grid gap-x-6 md:grid-cols-2">
                 <div class="mb-12">
                   <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/logo2-1.png"
                     class="neutralscale px-6" />
                 </div>
 
                 <div class="mb-12">
                   <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/logo5-1.png"
                     class="neutralscale px-6" />
                 </div>
 
                 <div class="mb-12 md:mb-0">
                   <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/logo3-1.png"
                     class="neutralscale px-6" />
                 </div>
 
                 <div class="">
                   <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/logo4-1.png"
                     class="neutralscale px-6" />
                 </div>
               </div>
             </div>
           </div>
           <div class="md:mb-12 lg:mb-0">
             <div class="px-4 md:px-0"> 
               <img src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                 class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   </section> -->

